/* Responsiveness breakpoints */

$xl: 1920px; //max for bigger screen
$lg: 1440px; //max for desktop

@mixin responsive($query) {
  @media (max-width: $query) {
    @content;
  }
}

@mixin less_than($point) {
  @if $point==$xl {
    @media (max-width: $xl) {
      @content;
    }
  } @else if $point==$lg {
    @media (max-width: $lg) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: large and extra-large";
  }
}

@mixin greater_than($point) {
  @if $point==$xl {
    @media (min-width: $xl) {
      @content;
    }
  } @else if $point==$lg {
    @media (min-width: $lg) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: large and extra-large";
  }
}
