@import '../../../Styles/variables.scss';

.philipsLight-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;

  .philipsLight-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 1em;
    height: 40%;

    .lightItem-switch {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;

      .onoff-text {
        font-family: $body-font;
        margin-top: 1em;
        font-size: 1em;
      }

      .switch {
        margin: 0.5em 0.1em 0 0.1em;

        .MuiSwitch-colorSecondary.Mui-checked {
          color: white;
          font-size: 200px;
        }

        .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
          background-color: grey;
        }

        .MuiSwitch-colorSecondary.Mui-checked:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }

        .MuiSwitch-switchBase {
          color: #000000;
        }
      }
    }
  }

  .philipsLight-heading-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
    padding: 0 1em 1em 1em;

    .philipsLight-link {
      font-family: $body-font;
      text-decoration: none;
      min-width: 100px;

      .philipsLight-button {
        font-size: 1em;
        background-color: $primary-color-medium;
        border: none;
        outline: none;
        padding: 0.7em 1em;
        font-family: $headers-font;
        width: 100px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        color: white;
      }

      .philipsLight-button:hover {
        background-color: lighten($primary-color-medium, 10%);
        text-decoration: underline;
      }
    }

    .philipsLight-heading-line {
      width: 80px;
      margin-right: 0;
      border: 0;
      height: 0;
      border-bottom: 1px solid black;
    }

    .philipsLight-heading {
      color: #000000;
      font-family: $headers-font;
      font-size: 1.2em;
      margin: 0;
    }
  }
}
