@import '../../Styles/variables.scss';
@import '../../Styles/responsiveness.scss';

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: absolute;
  height: 80vh;
  width: 8vw;

  .hamburger {
    margin: 2em 1em;
    position: absolute;
    cursor: pointer;

    .bar1 {
      width: 45px;
      height: 2px;
      background-color: #ffffff;
      margin: 6px 0;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
    }

    .bar2 {
      @extend .bar1;
      width: 22px;
    }

    .bar3 {
      @extend .bar1;
      width: 35px;
    }
  }

  .x {
    @extend .hamburger;
    z-index: 2;

    .bar1 {
      -webkit-transform: scale(0.8) rotate(-45deg) translate(-9px, 4px);
      -ms-transform: scale(0.8) rotate(-45deg) translate(-9px, 4px);
      transform: scale(0.8) rotate(-45deg) translate(-9px, 4px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-2px, -8px);
      -ms-transform: rotate(45deg) translate(-2px, -8px);
      transform: rotate(45deg) translate(-2px, -8px);
    }
  }

  .navbar {
    z-index: 1;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    height: 80vh;
    width: 8vw;
    background-color: $primary-color-medium;

    .navlinks-container {
      margin-bottom: 1em;

      .navbar-login-text {
        color: white;
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
        font-family: $headers-font;
        font-size: 0.8em;

        @include greater_than($lg) {
          font-size: 1.2em;
          margin: 1.2em 0 0 0.8em;
        }
      }

      .navlinks {
        margin: 1em 0em 0em 0.8em;
        @extend .navbar-login-text;

        a:link {
          padding: 1em;
          text-decoration: none;
          -webkit-writing-mode: vertical-lr;
          -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
          -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
          -webkit-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s;
        }

        a:visited {
          color: white;
          text-decoration: none;
        }

        a:hover {
          color: $detail-color;
          font-weight: bolder;
        }

        a:active {
          color: white;
        }
      }

      .navlink-line {
        color: white;
        height: 35px;
        border-left: 0.7px solid white;
        margin: 1em;

        @include greater_than($lg) {
          height: 45px;
          margin-left: 1.7em;
        }
      }
    }
  }
}
