@import '../../../Styles/variables.scss';
@import '../../../Styles/responsiveness.scss';

.styles_modal__gNwvD {
  background-color: $primary-color-light;
  width: 400px;
  min-height: 400px;

  @include greater_than($lg) {
    width: 600px;
    min-height: 600px;
  }
}

.styles_closeButton__20ID4 {
  outline: none;
  cursor: pointer;
}

.styles_closeButton__20ID4:hover {
  opacity: 0.5;
}

.message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;

  .message-loading-spinner {
    padding-top: 3em;
    text-align: center;

    .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
  }

  .message-loading-spinner > div {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
    }

    40% {
      -webkit-transform: scale(1);
    }
  }

  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  // to always show the scroll
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .message-posts-container {
    height: 80%;
    overflow: scroll;

    .message-card-container {
      padding: 1em 0;

      ul {
        list-style: none;
        padding: 0;

        .message-line {
          width: 80%;
          border: 0;
          height: 0;
          border-bottom: 1px solid rgb(160, 159, 159);
        }

        li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-bottom: 1em;

          .message-message-wrapper {
            width: 300px;

            @include greater_than($lg) {
              width: 350px;
            }

            .message-message-text {
              font-family: $small-animation-font;
              font-size: 0.8em;

              @include greater_than($lg) {
                font-size: 1.1em;
              }
            }

            .message-message-name {
              font-weight: 200;
              font-size: 1em;
              margin-bottom: 0.5em;
              @include greater_than($lg) {
                font-size: 1.1em;
              }
            }

            .message-message-date {
              font-weight: 200;
              font-family: $body_font;
              color: #646464;
              font-size: 0.7em;
              margin-top: 0;

              @include greater_than($lg) {
                font-size: 0.8em;
              }
            }
          }

          .message-delete-wrapper {
            .message-message-button {
              background: none;
              border: none;

              .message-message-button-icon {
                cursor: pointer;
                font-size: 1em;
                color: #646464;
                -webkit-transition-duration: 0.4s;
                -o-transition-duration: 0.4s;
                transition-duration: 0.4s;

                @include greater_than($lg) {
                  font-size: 1.1em;
                }
              }

              .message-message-button-icon:hover {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .no-messages-card {
    padding: 1em;

    .message-message-no-text {
      color: #646464;
      font-weight: 200;
      font-family: $body_font;
      font-size: 1em;
    }
  }

  .message-heading-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 1em;

    .message-heading-button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1em;
      color: #646464;
      font-weight: 100;
      font-family: $body_font;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s;

      .message-heading-button-icon {
        font-size: 1em;
        padding-right: 0.3em;
      }
    }

    .message-heading-button:hover {
      color: white;
    }

    .message-heading-button:focus {
      outline: none;
    }

    .message-heading {
      font-family: $headers-font;
      font-size: 1.2em;
      margin: 0;
    }

    .message-heading-line {
      width: 60px;
      margin-right: 0;
      border: 0;
      height: 0;
      border-bottom: 1px solid rgb(00, 00, 00);
    }
  }
}
