@import '../../Styles/variables.scss';
@import '../../Styles/responsiveness.scss';

footer {
  height: 20vh;
  width: 100%;
  width: 50vw;
  position: fixed;
  z-index: 2;
  bottom: 0;

  .footer-left-section {
    .navbar-footer-section {
      z-index: 3;
      position: fixed;
      bottom: 0;
      height: 20vh;
      width: 8vw;
      background-color: black;

      a:link {
        color: white;
        margin: 1em 0em 0em 1em;
        text-decoration: none;
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
        font-family: $headers-font;
        font-size: 0.8em;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;

        @include greater_than($lg) {
          font-size: 1.2em;
          margin: 1.2em 0 0 0.6em;
        }
      }

      a:visited {
        color: white;
        text-decoration: none;
      }

      a:hover {
        color: $detail-color;
        font-weight: bolder;
      }

      .footer-signout-link {
        cursor: pointer;
        z-index: 4;
        color: white;
        margin: 1em 0em 0em 1em;
        text-decoration: none;
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
        font-family: $headers-font;
        font-size: 0.8em;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;

        @include greater_than($lg) {
          font-size: 1.2em;
          margin: 1.5em 0.8em;
        }
      }

      .footer-signout-link:hover {
        color: $detail-color;
        font-weight: bolder;
      }

      .navlink-footer-line {
        color: white;
        height: 25px;
        border-left: 0.7px solid white;
        margin: 1em;

        @include greater_than($lg) {
          height: 50px;
          margin-left: 1.6em;
        }
      }
    }
  }

  .footer-right-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 20vh;
    width: 100vw;
    background-image: url('../../assets/footer.png');
    background-size: cover;

    .footer-date-container {
      padding: 0;
      width: 230px;
      height: 90px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.3);
      margin-left: auto;

      .footer-date-container-text {
        width: 100%;
        background-color: white;

        .footer-date-text {
          font-weight: bold;
          letter-spacing: 0.3em;
          text-transform: lowercase;
          text-decoration: underline overline;
          text-align: center;
          font-family: $headers-font;
        }
      }
    }
  }
}
