@import '../../../Styles/variables.scss';
@import '../../../Styles/responsiveness.scss';

.slackmessage-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  // to always show the scroll
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .slackmessage-posts-container {
    height: 80%;
    overflow: scroll;

    .slackmessage-card-container {
      padding: 1em 0;

      ul {
        list-style: none;
        padding: 0;

        .slackmessage-line {
          width: 80%;
          border: 0;
          height: 0;
          border-bottom: 1px solid rgb(201, 200, 200);
        }

        li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-bottom: 1em;

          .slackmessages-post-wrapper {
            margin: 1em 0;
            width: 350px;

            .slackmessages-post-text {
              font-family: $small-animation-font;
              word-wrap: break-word;
              font-size: 0.8em;

              @include greater_than($lg) {
                font-size: 1.1em;
              }
            }

            .slackmessages-post-user {
              font-size: 1em;
              margin-bottom: 0;
              font-weight: 300;

              @include greater_than($lg) {
                font-size: 1.1em;
              }
            }
          }
        }
      }
    }
  }

  .no-messages-card {
    padding: 1em;

    .slackmessages-no-text {
      color: #646464;
      font-weight: 100;
      font-family: $body_font;
      font-size: 1rem;
    }
  }

  .slackmessages-heading-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 1em;

    .slackmessages-heading-line {
      width: 100px;
      margin-right: 0;
      border: 0;
      height: 0;
      border-bottom: 1px solid black;
    }

    .slackmessages-heading {
      font-family: $headers-font;
      font-size: 1.2rem;
      margin: 0;
      text-align: end;
    }
  }
}
